asgiref
Django
django-environ
django-js-asset
djangorestframework
django-tinymce
django-widget-tweaks
gunicorn
nh3
packaging
pillow
psycopg2-binary
python-environ 
sqlparse
typing_extensions
whitenoise
