{% load static %}
<!-- Additional Journal Notebooks - Small Grid -->
<div class="mt-8">
  <h4 class="text-xl font-semibold text-gray-800 mb-4 text-center">More Writing Journals</h4>
  <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
      <!-- Notebook 1 -->
      <a href="https://www.amazon.co.uk/dp/B084P857XQ" target="_blank" rel="noopener noreferrer" class="block">
          <img src="{% static 'img/journalprompts-notebook-navy2.jpg' %}" alt="Journal Prompt Notebook" class="rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 w-full h-auto">
      </a>
      <!-- Notebook 2 -->
      <a href="https://www.amazon.co.uk/dp/B084WNSK6L" target="_blank" rel="noopener noreferrer" class="block">
          <img src="{% static 'img/creativity-journal.jpg' %}" alt="Creativity journal Notebook" class="rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 w-full h-auto">
      </a>
      <!-- Notebook 3 -->
      <a href="https://www.amazon.co.uk/dp/B083XX3WM3" target="_blank" rel="noopener noreferrer" class="block">
          <img src="{% static 'img/write-gratitude-journal.jpg' %}" alt="Gratitude journal paperback Notebook" class="rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 w-full h-auto">
      </a>
      <!-- Notebook 4 -->
      <a href="https://www.amazon.co.uk/dp/B084QKN3XV" target="_blank" rel="noopener noreferrer" class="block">
          <img src="{% static 'img/scribes-notebook-amazon.jpg' %}" alt="Scribes paperback Notebook" class="rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 w-full h-auto">
      </a>
      <!-- Notebook 5 -->
      <a href="https://www.amazon.co.uk/dp/B084DH5V76" target="_blank" rel="noopener noreferrer" class="block">
          <img src="{% static 'img/dance-paperback-notebook.jpg' %}" alt="Dance paperback Notebook" class="rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 w-full h-auto">
      </a>
      <!-- Notebook 6 -->
      <a href="https://www.amazon.co.uk/dp/B084DXJMKF" target="_blank" rel="noopener noreferrer" class="block">
          <img src="{% static 'img/brain-dump-notebook.jpg' %}" alt="Brain Dump Notebook" class="rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 w-full h-auto">
      </a>
  </div>
</div>