{% load static %}

<!-- Additional Memoir Notebooks - Small Grid -->
<div class="mt-12">
  <h2 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Other Paperback Notebooks</h2>
  <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
      <!-- Memoir Notebook 1 -->
      <a href="https://www.amazon.co.uk/dp/B084QLBPGV" target="_blank" rel="noopener noreferrer" class="block">
          <img src="{% static 'img/memoir-notebook-placeholder.jpg' %}" alt="My life stories paperback Notebook" class="rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 w-full h-auto">
      </a>
      <!-- Memoir Notebook 2 -->
      <a href="https://www.amazon.co.uk/dp/B0BSWPGCDV" target="_blank" rel="noopener noreferrer" class="block">
          <img src="{% static 'img/penny-paperback-notebook.jpg' %}" alt="Penny paperback Notebook" class="rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 w-full h-auto">
      </a>
      <!-- Memoir Notebook 3 -->
      <a href="https://www.amazon.co.uk/Writing-Memoir-Notebook-Paperback-notebook/dp/B084QKXZDB" target="_blank" rel="noopener noreferrer" class="block">
        <img src="{% static 'img/writing-memoir-paperback-notebook.jpg' %}" alt="Love paperback Notebook" class="rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 w-full h-auto">
      </a>
      <!-- Memoir Notebook 4 -->
      <a href="https://www.amazon.co.uk/dp/B083XVF4GC" target="_blank" rel="noopener noreferrer" class="block">
          <img src="{% static 'img/getstuffdone.jpg' %}" alt="Getting Stuff Done paperback Notebook" class="rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 w-full h-auto">
      </a>
      <!-- Memoir Notebook 5 -->
      <a href="https://www.amazon.co.uk/dp/B0BSWTNDSP" target="_blank" rel="noopener noreferrer" class="block">
          <img src="{% static 'img/big-ideas-paperback-notebook.jpg' %}" alt="Memory to Memoir Notebook" class="rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 w-full h-auto">
      </a>
      <!-- Memoir Notebook 6 -->
      <a href="https://www.amazon.co.uk/dp/B083XTGGBY" target="_blank" rel="noopener noreferrer" class="block">
          <img src="{% static 'img/reflective-writing-notebook.jpg' %}" alt="Memory to Memoir Notebook" class="rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 w-full h-auto">
      </a>
  </div>
</div>