{% load static %}
    <!-- Start block -->
    <section class="bg-gray-50 dark:bg-gray-800">
      <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
          <!-- Row -->
          <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
              <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                  <h2 class="mb-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Don't have an account yet?</h2>
                  <p class="mb-8 font-light lg:text-xl">You can
                    <a href="{% url 'accounts:register' %}" class="border-transparent hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-md font-bold">
                        Sign Up for an account HERE
                    </a>
                - Get access to free resources. Plus:</p>
                  <!-- List -->
                  <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                      <li class="flex space-x-3">
                          <!-- Icon -->
                          <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Save the prompts you love</span>
                      </li>
                      <li class="flex space-x-3">
                          <!-- Icon -->
                          <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Create Writing Goals</span>
                      </li>
                      <li class="flex space-x-3">
                          <!-- Icon -->
                          <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Keep track of your progress.</span>
                      </li>
                  </ul>
                  <p class="mb-8 font-light lg:text-xl">Everything you need to support your memoir writing and journaling habits.</p>
              </div>
              <img class="w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="{% static 'img/feature-1.png' %}" alt="dashboard feature image">
          </div>
          <!-- Row -->
          <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="{% static 'img/feature-2.png' %}" alt="dashboard feature image">
              <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                  <h2 class="mb-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Writing Tracker</h2>
                  <p class="mb-8 font-light lg:text-xl">Stay on track with your goals to write your memoir and/or journal on a regular basis with our writing tracker.</p>
                  <!-- List -->
                  <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                      <li class="flex space-x-3">
                          <!-- Icon -->
                          <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Add your writing sessions</span>
                      </li>
                      <li class="flex space-x-3">
                          <!-- Icon -->
                          <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Create writing goals</span>
                      </li>
                      <li class="flex space-x-3">
                          <!-- Icon -->
                          <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Watch your monthly stats grow!</span>
                      </li>
                      <li class="flex space-x-3">
                          <!-- Icon -->
                          <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Limitless business automation</span>
                      </li>
                      <li class="flex space-x-3">
                          <!-- Icon -->
                          <svg class="flex-shrink-0 w-5 h-5 text-purple-500 dark:text-purple-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                          <span class="text-base font-medium leading-tight text-gray-900 dark:text-white">Monitor your writing sessions</span>
                      </li>
                  </ul>
                  <p class="font-light lg:text-xl">Get access to this amazing writing tracker and all the other resources FREE for the first 100 members only.</p>
              </div>
          </div>
      </div>
    </section>
  <!-- End block -->